// Colors
$brand-primary: #397AB1;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;
//BODY
$body-background-color: #fafafa;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;
// Font sizes
$base-font-size: 1.6rem;
$large-font-size: 2.2rem;
// Form inputs
$input-border: $grey;
$input-spacing: 1rem;
// Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 100rem;
// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color: $grey;
// button
$button-bg: $brand-primary;
$button-color:white;
$button-pill-color: $brand-primary;
$button-secondary-bg: #f9f9f9;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// header
$header-bg: $light-grey;
$header-color: $brand-primary;
$header-height: 6rem;
// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
$item-border-width: 4px;

// Page content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});
