
.page-content{
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  @include desktop{
    padding: $large-space $space;
  }
}

.page-content__sidebar{
  //display: flex;
  display: none;
  padding-right: $large-space; // this one is different from the lecture #152
  width: $page-content-sidebar-width;
  @media (min-width: 50rem){
    display: flex;
  }
}

// @media (min-width: 30rem){
//   .page-content__sidebar *{
//     color: red;
//   }
// }

.page-content__main {
  display: flex;
  width:100%;

    @include desktop(){
      width: $page-content-main-width
    };
}
